body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;

}

.backlog{
  width: 25%;
  border: solid;
}

.dailySchedule{
  width: 25%;
  border: solid;
}

.calendar{
  width: 50%;
  border: solid;
}

.backlog-header{
  text-align: center;
}

.dailySchedule-header{
  text-align: center;
}

.calendar-header{
  text-align: center;
}

.backlog-todos {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hours{
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.days{
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.todo{
  background-color: grey;
  margin: 10px;
}

.todo-title{
  width: 50%;
  background-color: green;
}

.todo-description{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
  background-color: white;

}

.todo-body{
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}


.todo-duedate{
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px;
  width: 100%;
  text-align: center;
  background-color: yellow;
}

.todo-category{
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px;
  width: 100%;
  text-align: center;
  background-color: blue;
}

.todo-remove{
  border: solid;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px;
  width: 100%;
  text-align: center;
}